# This application uses a single environment file, as several fields are used by both the API and UI

# Discord application secrets - make sure these are never committed!
DISCORD_CLIENT_ID = CLIENT_ID
DISCORD_CLIENT_SECRET = CLIENT_SECRET

# Basic defaults for a MongoDB image
# This will run a local database out of the box:
DATABASE_USER = root
DATABASE_PASSWORD = example
DATABASE_HOST = db
DATABASE_PORT = 27017
DATABASE_PROTOCOL = mongodb
DATABASE_CERT_PATH = unused-but-required

# This configuration connections to the remote DB
# Contact a project admin for credentials
#DATABASE_USER = <user>
#DATABASE_PASSWORD = <password>
#DATABASE_HOST = <host>
#DATABASE_PORT = 27017
#DATABASE_PROTOCOL = mongodb+srv
#DATABASE_CERT_PATH = /opt/code/ca-certificate.crt # Or the local path on your machine

# For security reasons, Vite won't include environment variables in the front-end build unless it's prefixed with VITE_
VITE_API_URL = http://localhost:8080
# VITE_SENTRY_DSN = ... # UI monitoring, disabled by default

API_URL = http://localhost:8080
UI_URL = http://localhost:3000

ADMIN_DISCORD_IDS=