version: '3.6'

services:
  api:
    container_name: team-finder-api
    build: ./api
    restart: on-failure
    depends_on:
      - db
    ports:
      - "8080:8080"
    env_file:
      - ./.env

  ui:
    container_name: team-finder-ui
    build:
      context: ./ui
      dockerfile: Dockerfile.dev
    restart: on-failure
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    volumes:
      - ./ui:/app

  db:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"

  db-seed:
    build: ./db/seed
    links:
      - db

  db-viewer:
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@db:27017/

  se:
    image: opensearchproject/opensearch:latest
    container_name: team-finder-se
    environment:
      discovery.type: single-node
      DISABLE_SECURITY_PLUGIN: "true"
      DISABLE_INSTALL_DEMO_CONFIG: "true"
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: "lkajfsd0-23jkl9345£$%-=WQ£$%Q#'"
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
      - "9600:9600"

  se-dashboard:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: team-finder-se-dashboard
    ports:
      - "5601:5601"
    expose:
      - "5601"
    environment:
      OPENSEARCH_HOSTS: '["http://se:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: "true"
    depends_on:
      - se

volumes:
  opensearch-data: