{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://discordapp.com",
      "description": "",
      "variables": {}
    }
  ],
  "info": {
    "version": "f33fe709-5d26-4b3f-a287-b5bb90d34d6a",
    "title": "GMTK - API",
    "description": "The Team Finder API handles the creation, management and administration of Teams within the project.",
    "termsOfService": "",
    "contact": {},
    "license": {
      "name": ""
    }
  },
  "paths": {
    "/posts": {
      "get": {
        "summary": "List Posts",
        "description": "Get a list of all teams.\n\nTODO: limiting, pagination, filtering etc.",
        "operationId": "ListPosts",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Posts"
        ]
      },
      "post": {
        "summary": "Create Post",
        "description": "Create a new Team",
        "operationId": "CreatePost",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "requestBody": {
          "description": "Create a new Team",
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "example": {
                  "author": "TestValue",
                  "authorId": "TestValue",
                  "description": "TestValue",
                  "skillsPossessedMask": 255,
                  "skillsSoughtMask": 255,
                  "availability": "PART_TIME",
                  "timezoneStr": "UTC",
                  "languages": [
                    "en",
                    "jp"
                  ]
                }
              },
              "example": "{\n    \"author\": \"TestValue\",\n    \"authorId\": \"TestValue\",\n    \"description\": \"TestValue\",\n    \"skillsPossessedMask\": 255,\n    \"skillsSoughtMask\": 255,\n    \"availability\": \"PART_TIME\",\n    \"timezoneStr\": \"UTC\",\n    \"languages\": [\"en\", \"jp\"]\n}"
            }
          }
        },
        "tags": [
          "Posts"
        ]
      }
    },
    "/posts/{TEAM_ID}": {
      "get": {
        "summary": "Get Specific Post",
        "description": "Get a specific team by internal ID. Currently used for development purposes only.",
        "operationId": "GetSpecificPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/TEAM_ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Posts"
        ]
      }
    },
    "/post/mine": {
      "get": {
        "summary": "Get My Post",
        "description": "A less exploitable reference for a logged-in user to view their own Team.\n\nUsed when showing the Manage Team page, to populate form fields.",
        "operationId": "GetMyPost",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Posts"
        ]
      }
    },
    "/posts/mine": {
      "put": {
        "summary": "Update My Post",
        "description": "Update a Team with the details a participant is able to change.",
        "operationId": "UpdateMyPost",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "requestBody": {
          "description": "Update a Team with the details a participant is able to change.",
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "example": {
                  "author": "TestValue2",
                  "authorId": "TestValue2",
                  "description": "TestValue2",
                  "skillsetMask": 254,
                  "languages": "TestValue2"
                }
              },
              "example": "{\n    \"author\": \"TestValue2\",\n    \"authorId\": \"TestValue2\",\n    \"description\": \"TestValue2\",\n    \"skillsetMask\": 254,\n    \"languages\": \"TestValue2\"\n}"
            }
          }
        },
        "tags": [
          "Posts"
        ]
      },
      "delete": {
        "summary": "Delete My Post",
        "description": "Update a Team with the details a participant is able to change.",
        "operationId": "DeleteMyPost",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Posts"
        ]
      }
    },
    "/posts/report": {
      "post": {
        "summary": "Report Post",
        "description": "Report a Team as breaking site rules.",
        "operationId": "ReportPost",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "requestBody": {
          "description": "Report a Team as breaking site rules.",
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "example": {
                  "teamId": 99999
                }
              },
              "example": "{\n    \"teamId\": 99999\n}"
            }
          }
        },
        "tags": [
          "Posts"
        ]
      }
    },
    "/api/users/@me": {
      "get": {
        "summary": "User Info",
        "operationId": "UserInfo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Discord"
        ]
      }
    },
    "/api/users/@me/guilds": {
      "get": {
        "summary": "User Guilds Info",
        "operationId": "UserGuildsInfo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Discord"
        ]
      }
    },
    "/userinfo": {
      "get": {
        "summary": "UserInfo",
        "operationId": "UserInfo0",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Users"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "TEAM_ID": {
        "name": "TEAM_ID",
        "in": "path",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string",
          "example": "TEAM_ID"
        }
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearer": []
    },
    {
      "bearer": []
    },
    {
      "bearer": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "",
    "description": ""
  },
  "warnings": []
}