@layer base {
    html::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        background: linear-gradient(
                rgba(242, 114, 0, 0.1),
                rgba(242, 114, 0, 0.3)
        );
        z-index: -1;
    }

    .mono {
        font-family: "Share Tech Mono", monospace;
        font-weight: 800;
    }

    .mono-header {
        @apply drop-shadow-[0_1.4px_1.4px_rgba(255,255,255,0.8)];
        font-family: "Share Tech Mono", monospace;
        font-weight: 700;
        color: #6effb9;
    }

    .input {
        @apply bg-gray-300 border-2 border-gray-300 rounded-xl placeholder-gray-600 text-gray-900;
    }

    input[type="radio"] {
        appearance: none;
        /* For iOS < 15 to remove gradient background */
        background-color: #fff;
        /* Not removed via appearance */
        margin: 0;
    }

    main {
        @apply container mx-auto p-1 px-4 pb-6;
        padding-bottom: 96px;
    }

    body {
        color: #ffffff;
        /* Default image that can be overriden */
        background: url("/background-image.png");
        background-size: 480px 270px;
        background-repeat: repeat;
        background-position: center center;
        /*background-color: var(--theme-background);*/
    }

    /* Styling to keep the footer at the bottom of page/content as appropriate */
    #root {
        position: relative;
        min-height: 100vh;
    }

    .container {
        padding-bottom: 88px
    }

    div, p {
        @apply text-white;
    }

    /* Override to enforce ReactSVG icons are the right size */
     svg {
        width: 16px;
        height: 16px;
        fill: unset; /* There's an error, but it does work somehow */
    }

    .svg-explicit-size svg {
        width: 100%!important;
        height: 100%!important;
    }

    .post-tile__header svg,
    .post__header svg {
        width: 32px;
        height: auto;
    }
}
