@layer base {
    .input {
        @apply bg-gray-300 border-2 border-gray-300 rounded-xl placeholder-gray-600 text-gray-900;
    }

    input[type="radio"] {
        appearance: none;
        /* For iOS < 15 to remove gradient background */
        background-color: #fff;
        /* Not removed via appearance */
        margin: 0;
    }

    main {
        @apply container mx-auto p-1 px-4 pb-6;
        padding-bottom: 96px;
    }

    body {
        color: #ffffff;
        background: url("/background-image.jpeg");
        background-size: 100%;
    }

    /* Styling to keep the footer at the bottom of page/content as appropriate */
    #root {
        position: relative;
        min-height: 100vh;
    }

    .container {
        padding-bottom: 88px
    }

    div, p, span {
        @apply text-white;
    }

    /* Override to enforce ReactSVG icons are the right size */
    svg {
        width: 16px;
        height: 16px;
    }

    .post-tile__header svg,
    .post__header svg {
        width: 38px;
        height: auto;
    }
}