/* Site content*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Base */
@import "tailwindcss/base";
@import url(base.css);

/* Components */
@import "tailwindcss/components";

@import url(./common/components/Dropdown.css);
@import url(./common/components/OptionsListDisplay.css);
@import url(./common/components/PostTile.css);

@import url(./pages/components/Header.css);
@import url(./pages/components/Footer.css);

@import url(./pages/about/About.css);

@import url(pages/jamhome/JamHome.css);
@import url(pages/jamhome/components/Onboarding.css);
@import url(pages/jamhome/components/SearchFormWrapper.css);
@import url(pages/jamhome/components/SearchForm.css);

@import url(./pages/mypost/MyPostWrapper.css);
@import url(./pages/mypost/MyPost.css);

@import url(./pages/post/Post.css);

/* Utilities */
@import "tailwindcss/utilities";

@layer root {

    :root {
        /* Global */
        --theme-primary: #FEAE00;
        --theme-accent-dark: #CB7B00;
        --theme-accent-light: #ffdf99;
        --theme-text: #FFFFFF;
        --theme-tile-border: #FEAE00;

        /* Header/Footer gradient */
        --gradient-start: #F29700;
        --gradient-end: #FEAE00;

        /* Countdown timer */
        --theme-countdown-base: #0e0c7e;
        --theme-countdown-border: #FFFFFF;

        /* Post items - skills */
        --skill-color-looking-for: #c82d2d;
        --skill-color-looking-for-text: #ffffff;
        --skill-color-possessed: #cb7ae1;
        --skill-color-possessed-text: #ffffff;
        --skill-color-engines: #0f671d;
        --skill-color-engines-text: #ffffff;
        --skill-color-languages: #3456A6;
        --skill-color-languages-text: #ffffff;
        --skill-color-timezones: #3c5667;
        --skill-color-timezones-text: #ffffff;
    }

}
