/* Site content*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Base */
@import "tailwindcss/base";
@import url(base.css);

/* Components */
@import "tailwindcss/components";

@import url(./common/components/Dropdown.css);
@import url(./common/components/OptionsListDisplay.css);
@import url(./common/components/PostTile.css);

@import url(./pages/components/Header.css);
@import url(./pages/components/Footer.css);

@import url(./pages/about/About.css);

@import url(pages/jamhome/JamHome.css);
@import url(pages/jamhome/components/Onboarding.css);
@import url(pages/jamhome/components/SearchFormWrapper.css);
@import url(pages/jamhome/components/SearchForm.css);

@import url(./pages/mypost/MyPostWrapper.css);
@import url(./pages/mypost/MyPost.css);

@import url(./pages/post/Post.css);

/* Utilities */
@import "tailwindcss/utilities";

@layer root {

    :root {
        /* Global */
        --theme-primary: #db0a15;
        --theme-accent: #ff5762;

        /* Header/Footer gradient */
        --gradient-start: #88151b;
        --gradient-end: #000000;

        --theme-background: #000000;
        --theme-text: #FFFFFF;

        --theme-countdown-base: theme('colors.theme-d-7');
        --theme-countdown-border: theme('colors.theme');

        /* Post items - skills */
        --skill-color-looking-for: theme('colors.theme-d-7');
        --skill-color-looking-for-text: theme('textColor.white');
        --skill-color-possessed: theme('colors.theme-d-9');
        --skill-color-possessed-text: theme('textColor.white');
        --skill-color-engines: theme('colors.grey-50');
        --skill-color-engines-text: theme('textColor.black');
        --skill-color-languages: theme('colors.grey-800');
        --skill-color-languages-text: theme('textColor.white');
        --skill-color-timezones: theme('colors.grey-300');
        --skill-color-timezones-text: theme('textColor.white');
    }

}
