@layer components {
    .c-dropdown {
        border-color: var(--theme-accent-dark);
        @apply sm:inline-block w-full;

        & div {
            @apply text-gray-900;
        }

        & span {
            @apply sm:inline-flex mx-2;
        }

        /* Override SVG colour */
        & path {
            @apply fill-gray-900;
        }

        .dropdown__menu {
            z-index: 10;
        }

        .dropdown__option {
            background-color: var(--theme-primary);
            @apply flex items-center h-[48px];
        }

        .dropdown__option--is-focused {
            background-color: var(--theme-accent-light);
        }

        .dropdown__multi-value {
            background-color: var(--theme-primary);
            @apply text-gray-900 rounded mr-1 mb-1;

            & path {
                @apply fill-gray-900;
            }
        }

        .dropdown__multi-value__label {
            background-color: var(--theme-primary);
            @apply flex gap-1 text-gray-900 rounded m-0 p-1;

            /* Reset styling on images, which are in spans */
            & span {
                @apply m-0 p-0 h-full align-middle;

                & path {
                    @apply fill-gray-900;
                }
            }
        }
    }
}
