@layer components {
    .c-dropdown {
        /*border-color: var(--theme-accent-dark);*/
        @apply sm:inline-block w-full;

        & div {
            @apply text-gray-900;
        }

        & span {
            @apply sm:inline-flex mx-2;
        }

        /* Override SVG colour */
        & path {
            @apply fill-gray-900;
        }

        .dropdown__menu {
            z-index: 10;
        }

        .dropdown__option {
            /*background-color: var(--theme-primary);*/
            @apply flex items-center h-[48px];
        }

        .dropdown__option--is-focused {
            /*background-color: var(--theme-accent-light);*/
        }

        .dropdown__multi-value {
            /*background-color: var(--theme-primary);*/
            @apply text-gray-900 rounded mr-1 mb-1;

            /*& path {*/
            /*    @apply fill-gray-900;*/
            /*}*/
        }

        .dropdown__multi-value__label {
            /*background-color: var(--theme-primary);*/
            @apply flex gap-1 text-gray-900 rounded m-0 p-1;

            /* Reset styling on images, which are in spans */
            & span {
                @apply m-0 p-0 h-full align-middle;

                & path {
                    @apply fill-gray-900;
                }
            }
        }
    }
}

/* Skills possesed */
#skills-possessed-field .c-dropdown .dropdown__option,
#skills-possessed-field .c-dropdown .dropdown__multi-value__label {
    border-color: var(--skill-color-possessed);
    background-color: var(--skill-color-possessed);
    color: var(--skill-color-possessed-text);
    fill: var(--skill-color-possessed-text);
}
#skills-possessed-field .c-dropdown .dropdown__value-container path {
    fill: var(--skill-color-possessed-text)!important;
}

/* Skills sought */
#skills-sought-field .c-dropdown .dropdown__option,
#skills-sought-field .c-dropdown .dropdown__multi-value__label {
    border-color: var(--skill-color-looking-for);
    background-color: var(--skill-color-looking-for);
    color: var(--skill-color-looking-for-text);
    fill: var(--skill-color-looking-for-text);
}
#skills-sought-field .c-dropdown .dropdown__value-container path {
    fill: var(--skill-color-looking-for-text)!important;
}

/* Languages */
#languages-field .c-dropdown .dropdown__option,
#languages-field .c-dropdown .dropdown__multi-value__label {
    border-color: var(--skill-color-languages);
    background-color: var(--skill-color-languages);
    color: var(--skill-color-languages-text);
}

/* Engines */
#engines-field .c-dropdown .dropdown__option,
#engines-field .c-dropdown .dropdown__multi-value__label {
    border-color: var(--skill-color-engines);
    background-color: var(--skill-color-engines);
    color: var(--skill-color-engines-text);
    fill: var(--skill-color-engines-text);
}
#engines-field .c-dropdown .dropdown__value-container path {
    fill: var(--skill-color-engines-text)!important;
}


/* Timezones */
#timezones-field .c-dropdown .dropdown__option,
#timezones-field .c-dropdown .dropdown__multi-value__label {
    border-color: var(--skill-color-timezones);
    background-color: var(--skill-color-timezones);
    color: var(--skill-color-timezones-text);
    fill: var(--skill-color-timezones-text);
}
#timezones-field .c-dropdown .dropdown__value-container path {
    fill: var(--skill-color-timezones-text)!important;
}


/* Goes last */
.c-dropdown .dropdown__indicator svg path {
    fill: var(--theme-text)!important;
}
