@layer components {
    .c-post-tile {
        @apply bg-grey-500 border-2 border-neutral-900 rounded-xl p-4 flex flex-col gap-1 lg:min-h-[560px];

        .post-tile__header {
            @apply flex justify-between min-w-0;
            height: 80px;

            .post-tile__header--title {
                @apply text-lg font-bold overflow-hidden text-ellipsis whitespace-nowrap;
            }

            .post-tile__header--subtitle {
                @apply font-normal text-sm;
            }
        }

        .post-tile__body {
            @apply flex-grow;

            & p {
                @apply break-words;
                word-break: break-word;
            }
        }

        .post-tile__footer {
            @apply mt-4 mx-auto;
            align-self: end; /* Keep button at button of tile */
        }
    }
}