@layer components {
    .c-form-block {
        @apply text-grey-900 mb-4 grid gap-2 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2;
    }

    .form-block__field {
        @apply bg-white border-2 border-grey-50 rounded-xl;

        &:hover {
            border-color: var(--theme-accent-dark);
            color: var(--theme-accent-dark);
        }
    }

    /* TODO: Refactor out common button styling somewhere */
    #clear-search-button {
        @apply border rounded-xl  px-4 py-2 mt-4 mr-2 mb-2 w-full sm:w-fit;
        color: var(--theme-text);
    }

    #advanced-options-button {
        @apply border rounded-xl px-4 py-2 mt-4 mr-2 mb-2 w-full sm:w-fit;
        border-color: var(--theme-accent-dark);
        color: var(--theme-accent-dark);
    }
}
