@layer components {
    .c-footer {
        @apply absolute bottom-0 w-full h-[64px] flex justify-center items-center;
        background-image: linear-gradient(0deg, #042e62, #000000);

        .footer__icon {
            @apply px-4 h-[24px] border-r-2 border-[#28eaf1] last:border-0;

            .footer__icon--link {
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}