@layer components {
    .c-header {
        @apply p-2 mb-4;
        height: 64px;
        margin: 0 auto;
        background-image: linear-gradient(#db0a15, #000000);

        #toggle-bookmark-button {
            @apply leading-none py-2 px-2 hover:font-bold hover:text-white border border-white rounded-lg;
            width: 40px;
        }

        .header-text-link {
            @apply mr-2 text-white leading-none py-2 px-2 hover:font-bold hover:text-white;
        }

        .header-button {
            @apply rounded-lg border border-white text-white hover:text-white;
        }

        #login-button {
            @apply font-bold bg-theme-d-4 px-3 text-white;
        }
    }
}