@layer components {
    .c-header {
        @apply p-2 mb-4;
        height: 60px;
        margin: 0 auto 16px 0;
        background-image: linear-gradient(var(--gradient-start), var(--gradient-end));

        #toggle-bookmark-button {
            @apply leading-none py-2 px-2 hover:font-bold rounded-lg;
            width: 40px;
        }

        .header-text-link {
            @apply leading-none h-full flex items-center py-1 px-2 mr-2 hover:font-bold;
            color: var(--theme-text);
        }

        .header-button {
            background-color: var(--theme-accent-dark);
            @apply rounded-lg;
        }

        #login-button {
            background-color: var(--theme-accent-dark);
            color: var(--theme-text);
            @apply font-bold px-3 ;
        }
    }
}
