name: '[API] Run tests'

# Automatically trigger for changes to ./api/* on push/PR
on:
  push:
    paths:
      - 'api/**'
    branches-ignore:
      - main

  pull_request:
    paths:
      - 'api/**'
    branches-ignore:
      - main

  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    # Set working directory for entire test
    defaults:
      run:
        working-directory: api

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '25'
          java-package: jdk

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew test
